.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar {
  border-bottom: 1px solid #e5e9ef;
}
#globalNavbar {
  max-width: 965px;
}
.navbar-brand {
  font-size: 16px;
  font-weight: 500;
}
.search_input {
  min-width: 250px;
  padding-left: 25px;
  position: relative;
  border-color: 0.5px solid #e5e9ef;
  background: transparent !important;
  padding-right: 0;
}
.fa.fa-search {
  position: absolute;
  padding-left: 5px;
  display: block;
  color: #e5e9ef;
}
