.btn.btn-primary.btn-lg {
  outline: none;
  border: transparent;
  color: #fff;
  background-color: #7952b3;
}
.text-gray-soft {
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #272727;
  letter-spacing: -0.01em;
  color: #838e95 !important;
}
.display-1.text-bold {
  line-height: 1.1;
  font-size: 5em;
  margin-bottom: 15px;
  font-weight: bold;
}
.jumbotron.jumbotron-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  position: relative;
  z-index: 10;
  text-align: center;
  padding-top: 30px;
  background-color: white !important;
  padding-bottom: 0;
  margin-bottom: 0;
}
.button-brand {
  color: #fff;
  background-color: #7952b3;
  padding: 13px 27px;
  font-size: 16px;
  border: 1px solid transparent;
  line-height: 1.25;
  border-radius: 0.25rem;
}
.button-brand:hover {
  background: #5d3c90;
}
.hero_image {
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  .display-1.text-bold {
    font-size: 42px !important;
    margin-bottom: 15px;
  }
  .text-regular {
    font-weight: normal;
    font-size: 16px !important;
  }
}
